@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial;
  background-color: #ebd4d4;
  line-height: 1.5;
  font-family: sans-serif;
}

p {
  color: rgb(95, 92, 92);
  font-family: "Akaya Telivigala", cursive;
  font-size: 1.2rem;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: inherit;
}

::selection {
  background: #835858;
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ribbon {
  height: 4.5px;
  background: linear-gradient(50deg, #fff0f0, #463333, #fff0f0);
}

#header-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.376), rgba(0, 0, 0, 0.397)),
    url(./BackgroundPattern.htm);
  padding: 2em;
  border-radius: 0 0 10px 10px;
}

/* heading */
#app-name {
  font-size: 2.5em;
  color: white;
}

#app-name span {
  font-size: 0.3em;
  color: rgb(20, 20, 20);
  background-color: white;
  padding: 0.2em;
  border-radius: 0.2em;
}

/* clock */

.time {
  text-align: center;
  font-size: 1.2rem;
  font-family: Orbitron, sans-serif;
}

.clock-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background: burlywood;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightgrey;
}

/* task cards */
.wrapper {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin: 4em auto;
}

#container-1st,
#container-2nd {
  flex: 2;
  margin: 1.5em 0 0 0;
  padding: 1.5em;
  min-height: 50vh;
}

#container-2nd {
  flex: 1.5;
}

.schedule {
  padding: 1em;
}

textarea {
  font-size: 1.1rem;
  line-height: 1.5;
  width: 100%;
  background: #fff;
}

.clock-wrapper span {
  color: rgb(20, 20, 20);
  padding: 0.3em 1.5em;
}

/* .github a {
  background: white;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 5px;
  top: 10px;
  border-radius: 50%;
  z-index: 5;
} */

.fa-search {
  padding-right: 0.6em;
  cursor: pointer;
}

#search-box {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0.5em auto;
  padding: 0 0.5em;
}

input[type="search"] {
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 15px 15px;
  width: 100%;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.task-card {
  font-size: 1em;
  padding: 0.5em 1em;
  border-left: 5px solid #463333;
  margin-bottom: 1.5em;
  white-space: normal;
  box-shadow: 3px 3px 10px grey;
  background-color: #f4f4f4;
}

.task-card:hover {
  border-left: 5px solid burlywood;
  background-color: white;
  transition: all 500ms linear;
}

.title {
  color: rgb(82, 78, 78);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 5px grey;
  background-color: whitesmoke;
  padding: 1rem 0;
  font-size: 1.2rem;
  box-shadow: 0 5px 10px grey;
}

#schedule {
  border: none;
  outline: none;
  font-size: 15px;
  width: 100%;
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5em;
  padding-bottom: 0;
}

#add-schedule {
  display: flex;
  align-items: center;
  margin-top: 2.5em;
}

button {
  padding: 3px 5px;
  background: #835858;
  border: none;
  outline: none;
  display: block;
  color: white;
  cursor: pointer;
  width: 20%;
  height: 70px;
}

button:hover {
  background: #ebd4d4;
  color: #463333;
  transition: all 400ms linear;
}
/* options */
.options {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
  background: linear-gradient(45deg, #835858, lightgrey);
  padding: 0.5em 1em;
}

.options * + * {
  margin-left: 0.5rem;
}

.fa-trash,
.fa-edit {
  cursor: pointer;
}

.fa-trash:hover {
  color: rgb(253, 94, 94);
  transition: 0.4s;
}

.fa-edit:hover {
  color: lightgreen;
  transition: 0.4s;
}

.options i,
span {
  color: white;
}

.done-btn {
  background-color: limegreen;
  padding: 0.5em;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  transition: 0.5s;
}

.done-btn:hover {
  background-color: rgba(6, 223, 6, 0.644);
}

/* The container */
.container {
  display: none;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* end of options */

/* footer */
.footer {
  background-color: #463333;
  padding: 2em 0;
  border-radius: 7px 7px 0 0;
}

.footer div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer p {
  color: white;
  margin-bottom: 1em;
}
.footer a.developer {
  color: black;
  background: burlywood;
  padding: 0.3em;
  border-radius: 3px;
  text-decoration: none;
  transition: 0.5s;
}

footer a.developer:hover {
  background-color: #fff;
  color: grey;
}

.footer span a {
  background-color: white;
  padding: 0.3em;
  border-radius: 50%;
  color: #463333;
  transition: 0.5s;
}

.footer span a:hover {
  background-color: burlywood;
}

/* media queries */

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  #search-box {
    width: 60vw;
    margin: 0.5em auto;
  }

  .wrapper {
    width: 95%;
  }

  #container-1st {
    flex: 1.2;
  }
  #container-2nd {
    flex: 1;
  }
}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  #search-box {
    width: 100%;
    margin: 0.5em auto;
  }

  .wrapper {
    width: 88%;
    display: block;
  }

  #container-1st {
    margin-right: 0;
    flex: 1;
  }
  #container-2nd {
    flex: 1;
  }

  .footer div {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 575.98px) {
  .wrapper {
    width: 100%;
  }

  #container-1st {
    margin-right: 0;
  }

  #app-name {
    font-size: 2rem;
  }

  .clock-wrapper span {
    font-size: 0.9rem;
  }

  #search-box {
    width: 90%;
    margin: 0.5em auto;
    padding: 0 0.3em;
  }
}
